

<h1 class="about-title">Armin Toussi</h1>
<h3 class="about-subtitle">Software Developer</h3>
<section class="about-section">
    <img src="http://via.placeholder.com/250x250" alt="Picture of Armin Toussi" />
    <aside>Hey, i'm Armin Toussi, a software developer who primarily focuses on 
       web and mobile applications. Which means I try to make my clients vision 
       become a reality. Really what i'm really doing is trying to 
       create a lasting connection between a client and their customers. 
    </aside>
</section>