

<h1 class="about-title">Armin Toussi</h1>
<h4 class="about-subtitle">Software Developer</h4>
<section class="about-section">
    <img src="http://via.placeholder.com/250x250" alt="Picture of Armin Toussi" />
    <article class="article-intro">Hey, i'm Armin Toussi, a software developer who primarily focuses on 
       web and mobile applications. Which means I try to make my clients vision 
       become a reality.  Basically i'm trying to create a lasting connection 
       between my clients and their customers. 
    </article>
    <article class="article-objectives">
        <h4>Short Term Objective</h4>
        <p>My goal is to continue to increase my proficiency with Angular 4
           and Android mobile development. I have also been working a lot with 
           Firebase and Firestore on recent work projects and it would be nice 
           to boost my knowledge with these databases as well. 
        </p>
        <h4>Long Term Objective</h4>
        <p>My long term plan is to develop augmented aeality apps on mobile, 
           and potentially on any future hardware that hits the market. I also 
           have a passion for education and would like perhaps merge the two worlds
           of AR and education into one. 
        </p>
    </article>
    <article>
        Thanks for taking the time to look at my website, feel free to email me 
        or download a copy of my resume as I am always on the lookout for exciting 
        job opportunities. 
    </article>
</section>