
.about-title {
    font-family: 'Lobster', cursive;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.about-section {
    margin-left: 10px;
}

.article-intro {
    font-size: 1.2em;
    line-height: 1.2;
    text-align: justify;
}


@media screen and (min-width: 320px) {
    .about-title {
        font-size: 2.9em;
        text-align: center;
    }
    .about-subtitle {
        text-align: center;
        margin-left: 0;
        font-size: 1.55rem;
    }

    .about-section {
        margin-left: 0;
    }
    .about-section>img {
        float:none;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .article-intro {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) {
    .article-intro {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 768px) {
    .about-title { 
        font-size: 4em;
        text-align: left;
    }
    .about-subtitle {
        text-align: left;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .about-section>img {
        margin-left: 10px;
        float: left;
    }
    .article-intro {
        margin-left: 275px;
        margin-bottom: 115px;
    }
}

@media screen and (min-width: 992px) {
    .about-title {
        font-size: 2.9em;
        text-align: center;
    }
    .about-subtitle {
        text-align: center;
    }

    .about-section {
        margin-left: 0;
    }
    .about-section>img { 
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .article-intro {
        margin-left: 0;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1440px) {
    .about-title {
        font-size: 4em;
        text-align: left;
    }
    .about-subtitle {
        text-align: left;
    }

    .about-section>img {
        float:left;
        margin-right: 20px;
    }
    .article-intro {
        text-align: unset;
    }
}

@media screen and (min-width: 1660px) {
    .article-intro {
        text-align: justify;
    }
}