

<main class="about-content">
    <img src="http://via.placeholder.com/300x300" alt="Picture of Armin Toussi" />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 about-intro">
                <h3>Web &amp; Android Developer</h3>
                <ul class="list-unstyled info-card">
                    <li>
                        <span class="oi oi-envelope-closed"></span>
                        <a href="mailto:armintoussi@outlook.com" class="info-link info-spacing">Armintoussi@outlook.com</a>
                    </li>
                    <li>
                        <span class="oi oi-phone"></span>
                        <a href="tel:6043404297" class="info-link info-spacing">&nbsp;604-340-4297</a>    
                    </li>
                    <li>
                        <span class="oi oi-map-marker"></span>
                        <a href="https://goo.gl/maps/Dfrv42z4EWn" class="info-link info-spacing">&nbsp;Vancouver, BC</a>
                    </li>
                    <li>
                        <img src="assets/icons/GitHub-Mark-32px.png" class="github-size" alt="Armin's Github account" />
                        <a href="" class="info-link info-spacing">GitHub</a>
                    </li>
                    <li>
                        <img src="assets/icons/In-Black-28px-TM.png" class="ln-size" alt="Armin's LinkedIn Account" />
                        <a href="" class="info-link info-spacing">LinkedIn</a>
                    </li>
                    <li>
                        <span class="oi oi-document"></span>
                        <a href="" class="info-link info-spacing">Download Resume</a>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="row about-info">
            <div class="col-lg-12 about-info-content">
                <p class="lead">Hey, i'm Armin, a software developer who focuses primarily on 
                    web and android applications. Which means I try to make my client's
                    vision become a reality. Basically i'm trying to create a lasting 
                    connection betwen my client's and their customers.
                </p>
                <p class="lead">
                    My primary goal right now is to find a position where I can increase my Angular 4 
                    knowledge or my Android knowledge. My eventual goal is to transition into augmented
                    Reality development.
                </p>
                <p class="lead">Thanks for taking the time to look at my website, feel free to email or call me and 
                    don't forget to download a copy of my resume. I look forward to hearing from you soon.
                </p>
            </div>
        </div>
    </div>    
</main>