footer {
    width: 58%;
    position: fixed;
    bottom: 0;
    background: white;
}

footer>hr { 
    border: 1px solid #F4A460;
    margin-bottom: 5px;
    margin-top: 0;
}
footer>p { 
    font-size: 0.8em;
}