<div class="header">
    <h1 class="about-title">Armin Toussi <small class="text-muted">Software Developer</small></h1>
    <nav class="social-nav">
        <a href="https://www.linkedin.com/in/armin-toussi-904482111/"><img src="assets/icons/In-2C-41px-TM.png" class="in-icon" alt="LinkedIn Profile" title="My LinkedIn Profile"/></a>
        <a href="https://github.com/armindtoussi"><img src="assets/icons/GitHub-Mark-32px.png" class="" alt="Github Profile" title="My Github Profile"></a>
        <a href="assets/Resume_Armin_Toussi.docx" download><span class="oi oi-document resume-dl" alt="Resume Download" title="Download My Resume"></span></a>
    </nav>
    <hr class="title-hr">
</div>