
.header {
    position: relative;
}

.about-title {
    font-family: 'Lobster', cursive;
    font-size: 4em;

    margin-top: 20px;
}

.about-title>small {
    font-family: 'Roboto', sans-serif;
    font-size: 0.4em;
}

hr {
    border: 1px solid #F4A460;
    margin-top: 0;
    margin-bottom: 0;
}

.social-nav>a {
    color: #445E93;
}
.social-nav>a:hover {
    color: #F4A460;
}
.in-icon {
    width: 40px;
}
.resume-dl {
    font-size: 23pt;
    vertical-align: middle;
    padding: 5px;
}

@media screen and (min-width: 320px) {
    .about-title {
        font-size: 3.5em;
    }
    
    .social-nav {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 411px) {
    .about-title {
        font-size: 4em;
    }
}

@media screen and (min-width: 540px) {
    .about-title {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 768px) {
    .about-title {
        font-size: 4em;
    }
}

@media screen and (min-width: 992px) {
   
    .social-nav {
        margin-bottom: 0;
        position: absolute;

        top: 35px;
        right: 0;
    }
}