<main class="work-content">
    <h1>Work History</h1>
    <section class="container">
        <div class="row">
            <div class="col-lg-9">
                <article class="row">
                    <div class="col-lg-12 work-card">
                        <h4 id="oden"><a href="https://opendatadev.net/" class="work-link">Open Data Developer Network</a></h4>
                        <p class="work-date">2017-present</p>
                        <hr>
                        <h5>Web App Developer</h5>
                        <p class="work-description">Open Data Developer Network, or ODEN for short, is an open data concept 
                            who's mission is to simplify the way developers get open data. Governments and companies are releasing 
                            open data in large amounts these days, however, there is no standardization and that makes it harder 
                            for developers to use the datasets. It's time consuming for developers to write converters for each 
                            individual dataset. ODEN is trying to change that. As my second job in the tech sector, I was 
                            responsible for designing the structure of the web app as well as coding a large amount of the 
                            web application using Angular 4. 
                        </p>
                        <ul>
                            <li>Responsible for designing application structure</li>
                            <li>Communicated effectively using Slack channels, voice calls, and in person meetings</li>
                            <li>Responsible for managing Git repository on Bit Bucket and managing release standards</li>
                            <li>Adhered to clean coding standards</li>
                            <li>Connected and worked with Firebase and Firestore databases</li>
                            <li>Built modular application using Angular 4 component structure</li>
                            <li>Adhered to website UI design</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="headstart"><a href="http://headstartmedical.com/"  class="work-link">HeadStart Medical</a></h4>
                        <p class="work-date">2017</p>
                        <hr>
                        <h5>Web App and Android Developer</h5>
                        <p class="work-description">HeadStart Medical is a company that specializes in assisting 
                            parents who have children with plagiocephaly(meaning asymmetric or misshapen heads). 
                            The company has leveraged 3D printing technology to come up with a proprietary replacement
                            for the old bulky plastic helmets traditionally used to treat this condition. The company wanted 
                            to include a companion mobile app and web app to assist parents and clinicians throughout 
                            the treatment process. Hence, we were brought in to construct a prototype mobile app and 
                            web app to help in getting funding for futher development. The result was 
                            <a href="https://play.google.com/store/apps/details?id=com.headstartmedical.headshapehelper&hl=en_CA"
                            class="work-link">HeadShape Helper</a>.
                        </p>
                        <ul>
                            <li>Responsible for designing application structure for the Android app</li>
                            <li>Coded the vast majority of the Android application</li>
                            <li>Designed and coded the majority of the web application(unavailable to public at this time)</li>
                            <li>Communicated effectively using Slack channels, voice calls, and in person meetings</li>
                            <li>Responsible for managing Git repository on Bit Bucket and managing release standards</li>
                            <li>Connected and worked with Firebase database</li>
                            <li>Released Android application on Play Store</li>
                            <li>Adhered to mobile application UI design</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="prosnack"><a href="https://www.prosnack.com/" class="work-link">Prosnack Natural Foods</a></h4>
                        <p class="work-date">2014-2015</p>
                        <hr>
                        <h5>Food Processing Technician</h5>
                        <p class="work-description">Prosnack Natural Foods is a natural health foods company that 
                            created multiple products lines including ElevateMe Protein Bars, ElevateMe Single Serve Oatmeal,
                            and ElevateMe Perk Energy Bars. I was responsible for the manufacturing, packaging, and quality
                            control of these products. 
                        </p>
                        <ul>
                            <li>Prep the recipes for any of the aforementioned products</li>
                            <li>Assist in creation of the product</li>
                            <li>Assist in packaging of the products</li>
                            <li>Ensure highest the highest quality product</li>
                            <li>Adhere to high levels of cleanliness standards</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="parc"><a href="http://parcliving.ca/the-residences/cedarsprings/" class="work-link">Cedar Springs PARC</a></h4>
                        <p class="work-date">2014-2015</p>
                        <hr>
                        <h5>Chef de Partie</h5>
                        <p class="work-description">Cedar Springs PARC is a secure retirement community for retirees that offers 
                            a variety of activities in a social environment for seniors. They also have a fully functioning dining 
                            area that offers continental breakfast, 3 course lunch, and a 3 course dinner, however, residents were 
                            also able to have their meals brought to their rooms.
                        </p>
                        <ul>
                            <li>Assisted with lunch service</li>
                            <li>Responsible for preparing and administering dinner service</li>
                            <li>Adhered to high quality food standards</li>
                            <li>Adhered to the highest food safe standards</li>
                            <li>Organized alternatives for guests with dietary requirements</li>
                            <li>Worked in a fast pace team environment</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="fairmont"><a href="http://www.fairmont.com/vancouver/hotels/" class="work-link">Fairmont Hotel Vancouver</a></h4>
                        <p class="work-date">2011-2013</p>
                        <hr>
                        <h5>Second Cook</h5>
                        <p class="work-description">Fairmont Hotel Vancouver is a high class hotel situated in one of the 
                            oldest buildings in Vancouver and is known as the "Castle in the City".  I worked in the Hotel Vancouver 
                            as a Second Cook and it was the first unionized environment I worked in. There are a variety of
                            kitchen departments in the hotel and I had the chance to work in all of them and lent my expertise
                            where ever it was needed. 
                        </p>
                        <ul>
                            <li>Responsible for organizing, preparing, and cooking for 50-1200 people in the Banquet Department</li>
                            <li>Worked in a variety of departments including Garde Manger, Pastry, and Butchery departments as well as the restaurant, Griffins</li>
                            <li>Took part in 2 culinary events at the hotel and our team won best dish at both events</li>
                            <li>Ahered to strict food safe and food quality standards</li>
                            <li>Worked harmoniously in teams for 2-12 cooks and chefs</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="munch">Munch Family Restaurant</h4>
                        <p class="work-date">2010</p>
                        <hr>
                        <h5>Chef</h5>
                        <p class="work-description">Munch was an interesting concept that focused on offering organic meals with 
                            high food standards and most of all offered a place where parents felt safe bringing their kids and 
                            not having to worry about awkward stares from partrons without children. Unfortunately, I arrived at 
                            Munch during a difficult time and the business was suffering heavily. Myself and the general manager 
                            did our best to turn around the restaurant and established a new menu, and great group of regulars, 
                            however, sadly, it was not enough to save this failing business. 
                        </p>
                        <ul>
                            <li>Managed day-to-day activites of the kitchen</li>
                            <li>Responsible for hiring and training new kitchen staff</li>
                            <li>Creation of new menu that adhered to customer preference, restaurant brand, and fresh seasonal ingredients</li>
                            <li>Responsible for implementing food costing standards, organizational standards, and cleanliness standards</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="saltlik"><a href="http://www.saltlik.com/" class="work-link">Saltlik Steakhouse</a></h4>
                        <p class="work-date">2005-2009</p>
                        <hr>
                        <h5>Sous Chef</h5>
                        <p class="work-description">Saltlik was a high-end steakhouse in the heart of downtown Vancouver with a 
                            prairie theme. It offered and wide selection of steaks and wine pairings to suit any meat eaters appetite. 
                            I got a job there as an appetizer cook when it first opened and after a year was a Sous Chef of the night 
                            team. Over time I became the primary Sous Chef and second in command of the kitchen at Saltlik.
                        </p>
                        <ul>
                            <li>Responsible for smooth day-to-day operations of the kitchen ensuring the highest quality food standards</li>
                            <li>Created action plans for hitting training, budgeting, and food cost targets</li>
                            <li>Generated and maintained bi-weekly schedule for more than 20 kitchen staff based on projected sales</li>
                            <li>Learned what it meant to be a leader instead of a manager</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="miles"><a href="http://www.milestonesrestaurants.com/menu.php" class="work-link">Milestones Restaurant</a></h4>
                        <p class="work-date">2004-2005</p>
                        <hr>
                        <h5>Line Cook</h5>
                        <p class="work-description">Milestones is a local chain restaurant that offers standard Vancouver fare. 
                            Milestones was a very fast paced high pressured environment and I primarily worked on the Sautée
                            Station which was one of 2 primary stations that served a majority of the food to guests. After some time
                            I moved into the First Cooks role that was responsible for coordinating all food in the kitchen to go out 
                            to guests in a timely manner. 
                        </p>
                        <ul>
                            <li>Responsible for reproducing company recipes during high volume dinner and lunch services</li>
                            <li>Continued effective communication throughout the kitchen</li>
                            <li>Coordinated all stations of the kitchen to meet quality time standards</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card">
                        <h4 id="cactus"><a href="https://www.cactusclubcafe.com/location/north-vancouver/" class="work-link">Cactus Club Cafe</a></h4>
                        <p class="work-date">2003-2004</p>
                        <hr>
                        <h5>Line Cook - Shift Leader</h5>
                        <p class="work-description">Cactus Club is a well known established chain restaurant in Vancouver known for 
                            high quality food and drinks with a fun metropolitan atmosphere. This was my first real cooking job where 
                            I learned the basics of kitchen work and served as a foundation for my future 10 plus years in the culinary 
                            industry. It was a fun environment to work in but work and qaulity standards came first. It was a great 
                            learning environment and first cooking job for me.
                        </p>
                        <ul>
                            <li>Responsible for opening of restaurant, taking inventory, and setting daily food prep schedules</li>
                            <li>Continued effective communication throughout kitchen</li>
                            <li>Coordinated all stations of the kitchen to meet quality and time standards</li>
                        </ul>
                    </div>
                </article>
                <article class="row work-card-spacing">
                    <div class="col-lg-12 work-card last-card">
                        <h4 id="md"><a href="https://www.mcdonalds.com/ca/en-ca.html" class="work-link">McDonald's Restaurants Canada</a></h4>
                        <p class="work-date">2001-2003</p>
                        <hr>
                        <h5>Shift Worker - Shift Manager</h5>
                        <p class="work-description">McDonald's Canada offers fantastic training and is an ideal first job for a 
                            teenager looking to get into the work force. Here, I was taught to adhere to strict food quality standards
                            while working quickly and efficiently. 
                        </p>
                        <ul>
                            <li>Worked and communicated effectively in a team</li>
                            <li>Trained new employees on different stations</li>
                            <li>Dealt with customers and was responsible for taking orders and dealing with money</li>
                            <li>As manager I was responsible for balancing the safe daily and handling closing reports</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-lg-3">
                <aside class="side-nav">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a [routerLink]="['/work-history']" fragment="oden" class="work-link side-link">ODEN</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="headstart" class="work-link side-link">HeadStart</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="prosnack" class="work-link side-link">ProSnack</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="parc" class="work-link side-link">PARC</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="fairmont" class="work-link side-link">Fairmont</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="munch" class="work-link side-link">Munch</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="saltlik" class="work-link side-link">Saltlik</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="miles" class="work-link side-link">Milestones</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="cactus" class="work-link side-link">Cactus</a></li>
                        <li><a [routerLink]="['/work-history']" fragment="md" class="work-link side-link">McDonald's</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </section>
</main>