<main class="languages-content">
    <div class="row">
        <section class="col-xl-4">
            <h1>Languages</h1>
            <hr>
            <h5 class="lang-title">Java</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Java EE</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 60%"  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Javascript</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 65%"  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">HTML</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 90%"  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">CSS</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 65%"  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Typescript</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 60%"  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">SQL</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 70%"  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">C#</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 50%"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">C/C++</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 40%"  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>     
        </section>
        <section class="col-xl-4">
            <h1 class="section-header">Tools</h1>
            <hr>
            <h5 class="lang-title">Android</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 80%"  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Angular 4</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 68%"  aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">JQuery</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 78%"  aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Bootstrap 3/4</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 80%"  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Firebase</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 75%"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Firestore</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 60%"  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Oracle Database</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 66%"  aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">SQL Server</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 70%"  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">JSF/JPA</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 69%"  aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </section>
        <section class="col-xl-4 last-element">
            <h1 class="section-header">Skills</h1>
            <hr>
            <h5 class="lang-title">Communication</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 90%"  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Leadership</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 83%"  aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">High Pressure Work Environment</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 80%"  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Teamwork</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 81%"  aria-valuenow="81" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Analyze Code</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 72%"  aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Database Design</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 66%"  aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Debugging</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 65%"  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Code Design</h5>
            <div class="progress">
                <div class="progress-bar progress-orange" role="progressbar" style="max-width: 50%"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5 class="lang-title">Design Patterns</h5>
            <div class="progress">
                <div class="progress-bar progress-blue" role="progressbar" style="max-width: 40%"  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </section>
    </div>
</main>
<site-footer></site-footer>