<main class="project-content">
    <h1>Projects</h1>
    <section class="container">
        <article class="row">
            <div class="col-lg-12 project-card">
                <h3>Open Data Developer Network</h3>
                <hr>
                <img src="assets/Oden_Logo_Main.svg" alt="Open Data Developer Network Logo" class="oden-project" />
                <p>Open Data Developer Network or ODEN for short, is a web application that is built with the purpose
                   of making open data easy to access and use for developers.  With governments and businesses releasing 
                   open data to the public at an increasing rate, we are now left with a lack of consistency and a lack of
                   standards governing the datasets.  ODEN is trying to solve these problems and I am lucky enough to be 
                   part of the team that is trying accomplish this. The idea was to build a system that would allow people 
                   to access datasets in one simple place, but more importantly a place that offers a converter to convert
                   these datasets to a usable standardized schema.  
                </p>
                <h4>Technologies</h4>
                <p>We were tasked with building a web application so we decided to use Angular 4 as it would meet all our needs 
                    of building a modular system, that is easy to modify, and provides us with all the tools we need.  On the backend
                    out CTO wanted to utilize Firebase products for both hosting and the database functionality.  Knowing that we 
                    needed deep query capabilities, we decided that the Firebase Real-Time Database was not the answer for us, though
                    we do us it in some places, instead we decided on trying out the new Firestore document collection based database 
                    that Firebase offers. 
                </p>
                <h4>Workflow</h4>
                <p>We are using Bitbucket to manage the source files of the project. We are also using 4 different servers for
                    development of the project itself. One server for development, one for testing, one for demonstration purposes,
                    and one for production. All new features are built in the development server, and when ready, we push the new 
                    build to the test server for testing. Once we are finished with testing, and we are ready to roll out, we move 
                    the new build over to production for the public to use. We use a proprietary work management system that handles 
                    the backlog, buglog, iteration flows and more. Typically we all work remotely as the company does not have offices
                    yet, and meetings are done weekly over voice chat, and we meet in person for iteration meetings and SWOT analysis 
                    when we are finished a major iteration. 
                </p>
                <h4>Product</h4>
                <p>If you visit the site, you will see that it's pretty barebones right now as we just want to get the product up 
                   and running. The goal is for you to be able to search for datasets in various ways and once you have decided upon 
                   something, we provide you with a manifest that you can copy with all the necessary urls for converters and data. 
                   Eventually we will provide applications that will take the manifest and input and output the entire dataset in a 
                   format that lines up with our schema. 
                </p>
            </div>
        </article>
    </section>
</main>