

.project-content {
    padding-bottom: 80px;
}
.project-content>h1 {
    margin-bottom: 40px;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.container>div {
    padding-left: 0;
    padding-right: 0;
}
.project-card { 
    position: relative;
}

hr {
    border: 1px solid #F4A460;
    margin-top: 10px;
    margin-bottom: 30px;
}

.project-text { 
    text-align: justify;
}
.project-link {
    color: #445E93;
}
.project-link:hover { 
    color: #F4A460;
}
.project-link:hover,
.project-link:active,
.project-link:visited,
.project-link:link {
    text-decoration: none;
}
.caret-spacing {
    font-size: 16pt;

    position: absolute;

    right: 15px;
    top: 10px;
}
.caret-toggle {
    color: #3A3A3A;
}

.headstart-img-group {
    text-align: center;
    
}
.headstart-screenshot {
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
}

.last-img {
    margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
    .project-img-logo {
        width: 250px;
        float: none;

        display: block;
        margin: auto;
        margin-bottom: 30px;
    }

    .oden-img {
        display: block;
        margin: auto;
        width: 280px;
        /* margin-bottom: 20px; */
    }

    .headstart-screenshot {
        width: 250px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 375px) {
    .project-img-logo {
        width: 300px;
    }
    .oden-img {
        width: 100%;
    }
}

@media screen and (min-width: 405px) {
    .project-header { 
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .project-img-logo { 
        width: 345px;
    }

    .headstart-screenshot {
        width: 260px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 992px) {
    .project-content { 
        width: 75%;
        margin: auto;
    }
    .project-img-logo { 
        float: left;

        margin-right: 20px;
        margin-bottom: 30px;
    }
    .project-header { 
        width: 100%;
    }

    .headshape-logo-size{
        width: 200px;
    }
}