<main class="project-content">
    <h1>Projects</h1>
    <section class="container">
        <article class="row">
            <div class="col-lg-12 project-card">
                <h3 class="project-header"><a href="https://opendatadev.net/" class="project-link">Open Data Developer Network</a></h3>
                <a href="#oden" data-toggle="collapse" aria-expanded="false" aria-controls="oden" class="caret-toggle"
                   *ngIf="isCollapsed[0]" (click)="projectCollapse(0)">
                    <span class="oi oi-caret-bottom caret-spacing"></span>
                </a>
                <a href="#oden" data-toggle="collapse" aria-expanded="false" *ngIf="!isCollapsed[0]"
                   aria-expanded="false" aria-controls="oden" (click)="projectCollapse(0)" class="caret-toggle">
                    <span class="oi oi-caret-top caret-spacing"></span>
                </a>
                <div class="collapse show" id="oden">
                    <hr>
                    <img src="assets/Oden_Logo_Main.svg" alt="Open Data Developer Network Logo" class="project-img-logo" />
                    <p class="project-text">Open Data Developer Network or ODEN for short, is a web application that is built with the purpose
                        of making open data easy to access and use for developers.  With governments and businesses releasing 
                        open data to the public at an increasing rate, we are now left with a lack of consistency and a lack of
                        standards governing the datasets.  ODEN is trying to solve these problems and I am lucky enough to be 
                        part of the team that is trying accomplish this. The idea was to build a system that would allow people 
                        to access datasets in one simple place, but more importantly a place that offers a converter to convert
                        these datasets to a usable standardized schema.  
                    </p>
                    <img src="assets/oden_example_4.PNG" alt="ODEN Main Page Header" class="oden-img" />
                    <h4>Technologies</h4>
                    <p class="project-text">We were tasked with building a web application so we decided to use Angular 4 as it would meet all our needs 
                        of building a modular system, that is easy to modify, and provides us with all the tools we need.  On the backend
                        out CTO wanted to utilize Firebase products for both hosting and the database functionality.  Knowing that we 
                        needed deep query capabilities, we decided that the Firebase Real-Time Database was not the answer for us, though
                        we do us it in some places, instead we decided on trying out the new Firestore document collection based database 
                        that Firebase offers. 
                    </p>
                    <h4>Workflow</h4>
                    <p class="project-text">We are using Bitbucket to manage the source files of the project. We are also using 4 different servers for
                        development of the project itself. One server for development, one for testing, one for demonstration purposes,
                        and one for production. All new features are built in the development server, and when ready, we push the new 
                        build to the test server for testing. Once we are finished with testing, and we are ready to roll out, we move 
                        the new build over to production for the public to use. We use a proprietary work management system that handles 
                        the backlog, buglog, iteration flows and more. Typically we all work remotely as the company does not have offices
                        yet, and meetings are done weekly over voice chat, and we meet in person for iteration meetings and SWOT analysis 
                        when we are finished a major iteration. 
                    </p>
                    <img src="assets/oden_example_3.PNG" alt="Oden Nav Example" class="oden-img"  />
                    <h4>Product</h4>
                    <p class="project-text">If you visit the site, you will see that it's pretty barebones right now as we just want to get the product up 
                        and running. The goal is for you to be able to search for datasets in various ways and once you have decided upon 
                        something, we provide you with a manifest that you can copy with all the necessary urls for converters and data. 
                        Eventually we will provide applications that will take the manifest and input and output the entire dataset in a 
                        format that lines up with our schema. The pictures you are seeing on this page are sneak peaks at the new build that 
                        has no been released to the public yet. 
                    </p>
                    <img src="assets/oden_example_5.PNG" alt="Oden Search Results Example" class="oden-img" />
                    <p class="project-text">I look forward to working on this project in the future if I get the chance.</p>
                </div>
            </div>
        </article>
        <article class="row">
            <div class="col-lg-12 project-card">
                <h3 class="project-header"><a href="https://play.google.com/store/apps/details?id=com.headstartmedical.headshapehelper" class="project-link">HeadShape Helper</a></h3>
                <a href="#headshape" data-toggle="collapse" aria-expanded="false" aria-controls="headshape" class="caret-toggle"
                   *ngIf="isCollapsed[1]" (click)="projectCollapse(1)">
                    <span class="oi oi-caret-bottom caret-spacing"></span>
                </a>
                <a href="#headshape" data-toggle="collapse" aria-expanded="false" aria-controls="headshape" class="caret-toggle"
                   *ngIf="!isCollapsed[1]" (click)="projectCollapse(1)">
                    <span class="oi oi-caret-top caret-spacing"></span>
                </a>
                <div class="collapse" id="headshape">
                    <hr>
                    <img src="assets/headshapehelper.png" alt="Headshape Helper Logo" class="project-img-logo headshape-logo-size" />
                    <p class="project-text">Headshape Helper is a companion app and web app that supplements the services of 
                        <a href="http://headstartmedical.com/" class="project-link">HeadStart Medical</a>. HeadStart Medical 
                        is a company that specializes in assisting parents who have children with plagiocephaly(meaning 
                        asymmetric or misshapen heads). The company has leveraged 3D printing technology to come up with 
                        a proprietary replacement for the old bulky plastic helmets traditionally used to treat this condition. 
                        The company wanted to include a companion mobile app and web app to assist parents and clinicians 
                        throughout the treatment process. 
                    </p>
                    <p class="project-text">The goal was to build an application suite that would allow parents to follow the treatment
                        schedule for their children easily and effectively. Furthermore, the client wanted a way for parents to 
                        upload pictures of their children on a daily basis so the clinicians at HeadStart are able to keep records,
                        and have a way to contact the parents if there is an issue.
                    </p>
                    <div class="headstart-img-group">
                        <figure class="figure">
                            <img src="assets/Headstart_main_screen.png" alt="HeadStart App Main Landing Screen" class="figure-img headstart-screenshot" />
                            <figcaption class="figure-caption text-center">Landing Screen</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="assets/Headstart_new_session.png" alt="HeadStart App Next Session Timer Screen" class="figure-img headstart-screenshot" />
                            <figcaption class="figure-caption text-center">Timer Screen</figcaption>
                        </figure>
                    </div>
                    <h4>Technologies</h4>
                    <p class="project-text">For this project we were asked to build 3 apps, an Android app, an Ios app, and a 
                        web app. For the most part the technologies are straight forward, build the Android app in Java, the Ios app 
                        with Swift, and since this was our first professional project we decided to keep it simple for the web app and 
                        built it in vanilla Javascript, HTML, and CSS, although we did use bootstrap 3 to frame the project. 
                        For the database and server side functionality, the client wanted to go with firebase because of the 
                        functionality the platform offers, the database speed, the ease of making changes, and viewing metrics. 
                    </p>
                    <h4>Workflow</h4>
                    <p class="project-text">We managed the project using Bitbucket for the source files and we used a Kanban style 
                        Trello board for managing the backlog and buglog. We only used one server and one copy of the database for the 
                        whole project which did end up causing us some problems with testing and migration to a production state. We 
                        often worked remotely except for a few days here and there where we were able to secure a temporary office and 
                        do some work out of there.  We communicated mainly over Slack channels and bi-weekly meetings for iteration 
                        planning and product updates with the CEO and rest of the development team.  
                    </p>
                    <div class="headstart-img-group">
                        <figure class="figure">
                            <img src="assets/Headstart_issue_report.png" alt="HeadStart issue report screen" class="figure-img headstart-screenshot" />
                            <figcaption class="figure-caption text-center">Issue report screen</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="assets/Headstart_howto_pic.png" alt="HeadStart Camera Education screen" class="figure-img headstart-screenshot" />
                            <figcaption class="figure-caption text-center">How to take picture dialog</figcaption>
                        </figure>
                    </div>
                    <h4>Product</h4>
                    <p class="project-text">The prototype Android app is in the Google Play Store right now for download. However, 
                        most of the app's functionality is tied to a user account that you cannot obtain yet as it is still in the early 
                        stages of the app's life, but you can get a free head shape assessment with the app currently. Ultimately the 
                        Android app is a logging system. Once you have your account, the app will time your daily treatment sessions 
                        and prompt you to take pictures for the clinicians over at Heatstart to track and for the parent's own peace of mind. 
                        You can also log any issues you might come across, there's an education section, and you can take any extra pictures 
                        you may deem necessary. I think the most important thing I learned on this project as it pertains to Android was working 
                        with the Camera2 Api which turned out to be quite the challenge. 
                    </p>
                    <p class="project-text">I also had a large hand in creating the web application. The web application was a dashboard style
                        setup with 3 different login types, user, doctor/clinician, and admin for our own purposes. The user type was able to 
                        login and see the pictures they uploaded and inspect them, they were also able to invite other care givers to use the app when
                        the parent was not able to, and in the future the client wants to add the ability to alert 
                        clinicians to any current or immediate issues. The clinician/doctor login type was able to view all their patients, their 
                        images, and view their progress on a timeline graph as well as being able to invite new patients to the platform that were 
                        then tied to that doctor or clinician. The admin login type was primarily created to allow HeadStart to invite clinics 
                        to the platform to use with their patients. 
                    </p>
                    <div class="headstart-img-group">
                        <figure class="figure">
                            <img src="assets/Headstart_free_assessment_result.png" alt="HeadStart free assessment upload" class="figure-img headstart-screenshot" />
                            <figcaption class="figure-caption text-center">Free Assessment upload screen</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="assets/Headstart_privacy.png" alt="HeadStart Privacy Agreement" class="figure-img headstart-screenshot" />
                            <figcaption class="figure-caption text-center">Privacy Agreement screen</figcaption>
                        </figure>
                    </div>
                    <p class="project-text">Ultimately, the web application was not fully built out, it was built, at the time, to provide the complete app userflow.  It 
                        allowed us to invite clinics who could then invite patients who could then use the mobile apps. All in all it was a 
                        good project to be a part of. It was a good experience for a new grad who hadn't built anything professional yet. 
                        I learned a lot on the project and look forward to the possibility of working on it more if they acquire more funding. 
                    </p>
                </div>
            </div>
        </article>
        <article class="row">
            <div class="col-lg-12 project-card">
                <h3 class="project-header"><a href="https://github.com/drwatley/ContactBook" class="project-link">Contact Book</a></h3>
                <a href="#contact" data-toggle="collapse" aria-expanded="false" aria-controls="contact" class="caret-toggle"
                    *ngIf="isCollapsed[2]" (click)="projectCollapse(2)">
                    <span class="oi oi-caret-bottom caret-spacing"></span>
                </a>
                <a href="#contact" data-toggle="collapse" aria-expanded="false" aria-controls="contact" class="caret-toggle"
                    *ngIf="!isCollapsed[2]" (click)="projectCollapse(2)">
                    <span class="oi oi-caret-top caret-spacing"></span>
                </a>
                <div class="collapse" id="contact">
                    <hr>
                    <p class="project-text">Contact Book is just a simple Android application that I built for practice with 
                        some Android and programming concepts. It's a simple address book application that allows you to add,
                        edit, view, and remove contacts. It has a very simple UI as this is not an application that I intended 
                        to release on the Play Store, it was simply a practice application. 
                    </p>
                    <h4>Concepts</h4>
                    <p class="project-text">I had some concepts in mind that I wanted to practice when I started building this 
                        application and some that cropped up while I was building it.
                    </p>
                    <ul class="">
                        <li>Recycler View</li>
                        <li>Custom Recycler Adapter</li>
                        <li>SQLite Database Contracts</li>
                        <li>SQLite CRUD with Content Provider</li>
                        <li>URI Scheme for Content Provider</li>
                        <li>Builder Pattern</li>
                    </ul>
                    <p class="project-text">This is a general list of the things that I wanted work on learning. I focused especially 
                        on the Content Provider in conjuntion with Cursor Loader and the Recycler Adapter. I have also been reading 
                        Clean Code by Robert C. Martin, and was on the chapter about naming conventions. So I also tried to focus on 
                        creating good naming conventions in my application. 
                    </p>
                    <h4>Challenges</h4>
                    <p class="project-text">I did face some challenges during this build. I had some trouble using the Cursor Loader 
                        to load data and inject it into the adapter so it could adhere to the view. However, after some reading of 
                        documentation and Googling, I was able to find the solution to the problem. The other area of concern was 
                        URI's for the content provider. I kept having issues with the Content Provider not being able to match the 
                        URI that I was trying to use to access data. Turns out that I was making calls to the content provider 
                        incorrectly. I was directly calling methods from the content provider when I was supposed to be using
                        <code>getContentResolver()</code> and then calling the necessary method like update or insert.
                    </p>
                    <p class="project-text">When I started this project I knew the importance of programming patterns, however, 
                        I had yet to really use that many. When I got to the point where I needed constructors with a variable 
                        number of arguments, I wasn't sure how to proceed. Sure I could overload constructors, but these classes 
                        had a lot of instance variables and that wasn't g oing to be practical. After a short amount of research 
                        I realized I can solve this problem with the Builder Pattern. I originally had no intentions of using any 
                        programming patters, however, I was able to learn this one and realize the importance for learning and 
                        implementing programming patterns. 
                    </p>
                    <p class="project-text">All in all, I learned quite a lot about Android development and programming concepts 
                        in general. I chose not to release this applicaiton because I didn't want to invest the time it takes 
                        to polish the app up to a level where it is ready for public use as there were other projects that I wanted 
                        to work on. Furthermore, there are plenty of applications on the Play Store that serve the functions of this 
                        app. I have no current plans to do more work on this app. 
                    </p>
                </div>
            </div>
        </article>
        <article class="row">
            <div class="col-lg-12 project-card">
                <h3 class="project-header"><a href="https://github.com/drwatley/TutoringApp" class="project-link">Tutor App</a></h3>
                <a href="#tutor" data-toggle="collapse" aria-expanded="false" aria-controls="tutor" class="caret-toggle"
                    *ngIf="isCollapsed[3]" (click)="projectCollapse(3)">
                    <span class="oi oi-caret-bottom caret-spacing"></span>
                </a>
                <a href="#tutor" data-toggle="collapse" aria-expanded="false" aria-controls="tutor" class="caret-toggle"
                    *ngIf="!isCollapsed[3]" (click)="projectCollapse(3)">
                    <span class="oi oi-caret-top caret-spacing"></span>
                </a>
                <div class="collapse" id="tutor">
                    <hr>
                    <p class="project-text">During my last term, term three, we took an Android mobile development course. 
                        During this course we were asked to group up in threes and tasked with designing and prototyping 
                        an Android app with the theme of information. My group came up with the idea of an app that students 
                        can log into and be matched with another student that can either offer them peer tutoring or 
                        be tutored by a peer. We thought that by facilitating matching students with other students 
                        that can help them get help quicker and more easily than the services offered by the school.
                    </p>
                    <h4>The Build</h4>
                    <p class="project-text">We used our project management and design skills gained from the previous 
                        project and mocked up some UI/UX designs as well as a basic outline for how the app would work 
                        from a technical standpoint. We were coding for Android so, obviously, it was to be written in
                        Java. We also knew that we needed to have a cloud based database service rather than an on-board
                        database service like SQLite. After some research we ended up using MongoDB and accessed it 
                        using Ion. Which all sounds great except we weren't able to finish and had issues with 
                        asynchronous tasks to access the database. We were able to get the database access working 
                        and loading to the phone and emulator, but we weren't able to finish the main matching part 
                        of the app. 
                    </p>
                    <p class="project-text">I was responsible for building the main UI framework of the application. I used 
                        a single main activity and housed inside it a swipe tab navigation that had fragments nested 
                        inside it. Each of the 3 fragments that I created served as a major page of the application. 
                        Tab 1 housed the search/match results for people searching to be tutored, tab 2 housed the 
                        search/match results for people that were looking for people to tutor, and the final tab 
                        housed our options page which had various options. I also added the business logic behind 
                        the UI to handle the account creation and the list views displaying information.
                    </p>
                    <h4>Challenges</h4>
                    <p class="project-text">The main challenge of this project was connection to the database
                        and downloading information asynchronously so the app wouldn't lock up while the 
                        database was being accessed. While we were finally able to get this to work, we 
                        accomplished it so late we had no time to finalize the matching process of the 
                        applicaton. In hindsight, we should have worked on this much earlier, researched 
                        it sooner, and developed a solution before the last 2 weeks of the term. Problem 
                        was, as it always is, time and the lack of it. We have 7 courses and just get
                        absolutely swamped in the last month of the term. We took it far too easy early 
                        in the term and if I could go back I would attack this project much earlier so we
                        had the time to complete it to our satisfaction. Lastly, we never were able to 
                        come up with good branding for this project, unlike our previous project, Reactor, 
                        we just didn't have a good name, and didn't get to branding it with a nice logo and so on.
                    </p>
                </div>
            </div>
        </article>
        <article class="row">
            <div class="col-lg-12 project-card">
                <h3 class="project-header"><a href="https://github.com/drwatley/project2910"  class="project-link">Reactor</a></h3>
                <a href="#reactor" data-toggle="collapse" aria-expanded="false" aria-controls="reactor" class="caret-toggle"
                    *ngIf="isCollapsed[4]" (click)="projectCollapse(4)">
                    <span class="oi oi-caret-bottom caret-spacing"></span>
                </a>
                <a href="#reactor" data-toggle="collapse" aria-expanded="false" aria-controls="reactor" class="caret-toggle"
                    *ngIf="!isCollapsed[4]" (click)="projectCollapse(4)">
                    <span class="oi oi-caret-top caret-spacing"></span>
                </a>
                <div class="collapse" id="reactor">
                    <hr>
                    <img src="assets/reactor_logo.png" alt="Reactor Logo" class="project-img-logo reactor-logo-size" />
                    <p class="project-text">Reactor was a game that me and my team/friends built during a Projects course 
                        at BCIT. The concept of the course is we build something from scratch starting from the design 
                        phase all the way to testing and deployment with the main goal of the course being project management. 
                        We were introduced to many key project concepts including scrum, design, documentation, testing, git, 
                        and more. We were given basic guidelines by the teachers like the theme(brain games) and we were also 
                        given challenges during some of the weeks for the duration of the five week course.
                    </p>
                    <h4>What is Reactor?</h4>
                    <p class="project-text">Reactor is a single player game that involves the player solving periodic mini-games
                        while trying to keep the overall heat of the reactor down to avoid a meltdown. It's a basic mini-game
                        survival concept in which we wanted to improve players' congnitive functions like multitasking, speed,
                        and quick thinking skills. The game board is a honey comb that consists of 7 hexagons each housing 
                        a mini-game, and when the game starts one of the hexagons wwill be highlight and you can click to expand it.
                        You will be presented with a puzzle which you need to solve to move on. There is a timer for each game that 
                        opens up and the overall goal is to manage multiple games each with their own timer for completion. If you are 
                        unable to complete the game within the timer, the reactor heat will go up until it reaches a meltdown point, 
                        and the game ends. 
                    </p>
                    <h4>Weekly Challenges</h4>
                    <p class="project-text">Throughout the weeks, as I said, we were given challenges 
                        to achieve. The challenges were include a non-local scoreboard, include achievements, and include a 
                        tutorial section for new users. This was done to simulate a real work enivronment where things can 
                        change quickly whether it be a client changing their mind or a higher up making a change in the product. 
                        It was really fun to do though.
                    </p>
                    <h4>Technologies</h4>
                    <p class="project-text">We were required to use web technologies to create this game, so we knew we had to 
                        use HTML and CSS as a minimum, but of course javascript would be required as well. Since we knew we would
                        have a lot of animation and hiding of elements, we decided to utilize JQuery as well to making our lives easier.
                        We also weren't allowed to use any game engines or frameworks. In hindsight, although using JQuery made the 
                        game easy to make, it also created some optimization problems for mobile phones and so on. All in all JQuery 
                        wasn't a horrible choice, but it definitely could have been better. There were issues with JQuery and Android
                        phones for some reason we weren't able to determine. We also ended up creating our own icons and branding 
                        in Photoshop but what was even better was creating our own theme music and sound effects to go with the 
                        game, I was quite proud of that aspect.
                    </p>
                    <h4>Challenges</h4>
                    <p class="project-text">The major challenges were not really product related but team and project management
                        related. This was my first time building a real product as part of a team using project methodologies 
                        like Scrum. We adjusted quickly to having daily Scrum stand up meetings and discussion what we did and 
                        didn't do for that day and the previous day. However, the challenging aspect of it was designing and 
                        documenting that process as a cohesive unit. Futhermore, keeping everyone on the same page for the 
                        design and the exection was definitely a big challenge for us, but we pressed forward and learned a 
                        lot. Weekly class presentations helped us stay on track and gain crucial feedback to both our product 
                        and our process. Learning about and using task lists and task list websites like Trello were vital to our success.
                    </p>
                    <p class="project-text">We focused so much on the main product that we neglected the tutorial section until 
                        the last minute. Therefore, the tutorial section really isn't completed to the level of polish that we 
                        would like, but for our first project, and for only 5 weeks we were very satisfied.
                    </p>
                    <h4>Conclusion</h4>
                    <p class="project-text">One major thing that i learned from this project is that the planning phase 
                        is everything as it relates to the outcome of a project. Things can change and the client may 
                        change their mind on some matters, but if you are well organized and you have planned well with 
                        changes in mind, you can weather that storm with relative ease compared to not preparing for the 
                        possiblity of change. Lastly I should note that we were voted by our peers and teachers as having
                        the best game of the course.
                    </p>
                </div>
            </div>
        </article>
        <article class="row" id="conways">
            <div class="col-lg-12 project-card">
                <h3 class="project-header"><a href="https://github.com/drwatley/GameOfLife" class="project-link">Conway's Game of Life</a></h3>
                <a href="#conway" data-toggle="collapse" aria-expanded="false" aria-controls="conway" class="caret-toggle"
                    *ngIf="isCollapsed[5]" (click)="projectCollapse(5)">
                    <span class="oi oi-caret-bottom caret-spacing"></span>
                </a>
                <a href="#conway" data-toggle="collapse" aria-expanded="false" aria-controls="conway" class="caret-toggle"
                    *ngIf="!isCollapsed[5]" (click)="projectCollapse(5)">
                    <span class="oi oi-caret-top caret-spacing"></span>
                </a>
                <div class="collapse" id="conway">
                    <hr>
                    <p class="project-text">During the second term of school we were tasked with creating a simple version 
                        of Conways Game of Life. A lot of programmers have probably created their own version of this 
                        or at the very least heard about it. It's a good exercise for an intermediate programmer I think. 
                    </p>
                    <h4>Concept</h4>
                    <p class="project-text">We were given some code to go with this assignment which included, a 
                        resizeable window which holds the game board, and the frame for the game board but it 
                        was not populated nor was there a grid system in play. We had to implement the grid part 
                        of the game board as well as implement the necessary classes to represent the vegetation 
                        and animals as well as the clicking functionality for turns to take place. The animals 
                        included were herbivores, carnivores and onmivores. The goal was to have one click on 
                        the board be one turn and have the animals move to empty adjacent squares or squares 
                        in which the animal can eat what is in that adjacent square. The movement choice is all 
                        random and based on what the animal can eat and what obstructions are there. The goal 
                        was to make this a well designed modular program that can me modified and extended easily.
                    </p>
                    <h4>Challenges</h4>
                    <p class="project-text">At the time I was a much less experienced programmer and faced some 
                        challenges that seem simple now. I hadn't had my algorithms class yet and was unfamiliar 
                        with how to approach problems that required a more efficient algorithm. One of the major 
                        challenges for me was producing an efficient way to check all adjacent squares regardless 
                        of position on the board. I was checking all possible adjacent squares based on position 
                        of the square in the board all in an if/else statement which is very inefficient. So if 
                        a square was in a corner it would have a different set of rules than a square on an edge 
                        and so on. This created a huge ugly code block that was inefficient and created problems 
                        running the program. After seeking help I found out how I could use a nested for loop 
                        from -1 to +1 to check all positions around for every square and then just checked to 
                        make sure that a choice was actually physically possible(ie. not off the edge of my board).
                        This was the biggest challenge for me, other than that the project was relatively trivial.
                    </p>
                    <p class="project-text"> All in all it was a fun project to work on and exposed me to Conways 
                        Game of Life, and also helped me learn about these types of projects. Learning how to 
                        find other games and projects like this I can work on as well as solving problems throuh 
                        finding standard algorithms and learning how to figure out your own algorithms.
                    </p>
                </div>
            </div>
        </article>
    </section>
</main>

