<main class="not-found-content">
    <h1>Oops! 404</h1>    
    <p class="cant-find">We can't find the page you're looking for.</p>
    <p class="useful-links">Here are some useful links instead:</p>
    <ul class="links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/languages">Languages</a></li>
        <li><a routerLink="/education">Education</a></li>
        <li><a routerLink="/work-history">Work History</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a href="https://github.com/armindtoussi">Github</a></li>
        <li><a href="https://www.linkedin.com/in/armin-toussi-904482111/">LinkedIn</a></li>
    </ul>
</main>
